<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="triangle" class="org.akshay.demo.Triangle">
		<property name="type" value="Equilateral"/>
		<property name="points">
			<list>
				<ref bean="zeroPoint" />
				<!-- Inner Bean -->
				<bean class="org.akshay.demo.Point">
					<property name="x" value="-20"/>
					<property name="y" value="0"/>
				</bean>
				<!-- Inner Bean End -->
				<ref bean="point2" />
			</list>
		</property>
	</bean>
	
	<bean id="zeroPoint" class="org.akshay.demo.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="point2" class="org.akshay.demo.Point">
		<property name="x" value="20"/>
		<property name="y" value="0"/>
	</bean>
	
</beans>
